!!! 5
%html
  %head
    %title Slog
    = stylesheet_link_tag     "application"

    #banner=image_tag("alter.png")
    = javascript_include_tag  "application"
    = csrf_meta_tags
  %body
    = yield
